<% gossips = Potin.where(user_id: @city.users.all.ids) %>

</br></br>
<div class='container text-center'>
  <h1 class="display-5">Vous êtes sur la page de la ville de <%= @city.name %>, <%= @city.zip_code %>.</h1>
  <h2 class="display-10">Voici tous les potins écrits par ses habitants.</h2>
</div></br></br>

<div class='container'>
  <div class='card-deck'>
    <div class="row">
        <% gossips.each do |gossip| %>
        	        
          <div class="card border-primary mb-3" style="min-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"><%= gossip.title %></h5>
                <p class="card-text">Un potin de <%= gossip.user.first_name %>.</br>

                <span class="badge badge-pill badge-primary">Likes: <%= gossip.likes.count %></span></br>

                <% unless session[:user_id].nil? %>
                  <% if !like?(gossip) %>
                      <%= link_to "Like?", likes_path(gossip.id), method: :post %>
                    <% else %>
                      <%= link_to "Dislike?", like_path(gossip.id), method: :delete %>
                  <% end %>                      
                <% end %></br></br>
                        <%= link_to 'Clique pour en savoir plus.', gossip_path(@id = gossip.id) %>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= gossip.created_at.strftime("Créé le %d/%m/%Y") %>.</small>
            </div>    
          </div>
        <% end %>
    </div>
  </div>
</div>